:root {
  --white: #fff;
  --navy: #2e2f42;
  --cl-hover: #404bbf;
  --contact-cl: #434455;
  --blue: #4d5ae5;
  --white-two: #e7e9fc;
  --white-three: #f4f4fd;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--navy);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: var(--white);
}
.container-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
}
.header-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--navy);
  letter-spacing: 0.02em;
}
.link-item:not(:last-child) {
  margin-right: 40px;
}

.links-list {
  display: flex;
  align-items: center;
}
.header-links:hover {
  color: var(--cl-hover);
}
.header-links:focus {
  color: var(--cl-hover);
  background-color: var(--white);
}
.page-nav {
  display: flex;
  align-items: center;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--contact-cl);
  letter-spacing: 0.02em;
}
.contacts:hover {
  color: var(--blue);
}
.contacts:focus {
  color: var(--blue);
  background-color: var(--white);
}

.menu-address {
  display: flex;
  align-items: center;
}
.address {
  margin-left: auto;
}

.logo-header {
  padding-right: 76px;
}

.mail {
  padding-right: 40px;
}

.tel {
  padding-right: 156px;
}
.logo {
  color: var(--navy);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo:focus {
  background-color: var(--white);
}
.color-web {
  color: var(--blue);
}
.color-studio {
  color: var(--white-three);
}

.hero-title {
  color: var(--white);
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 48px;
}

.section-hero {
  background-color: var(--navy);
  padding-top: 188px;
  padding-bottom: 292px;
}

.hero-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.second-hero-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
}
.text-our-tem {
  text-align: center;
}
.section-our-team {
  background-color: var(--white-three);
}
.team-name {
  padding: 32px 16px;
}

.name-projects {
  padding: 32px 0px;
}

.list {
  display: flex;
  align-items: flex-start;
}
.list-general {
}
.list-general:not(:last-child) {
  margin-right: 24px;
}
.list-advantages {
  width: 264px;
}

.footer {
  background-color: var(--navy);

  margin: 0px, auto;
}
.container-footer {
  margin: 0 auto;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-footer {
  color: var(--white-two);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  padding-top: 16px;
}
.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  letter-spacing: 0.04em;
}
.main-button:hover {
  background-color: var(--cl-hover);
}
.main-button:focus {
  background-color: var(--cl-hover);
}

.filter-button {
  cursor: pointer;
  background-color: var(--white-two);
  color: var(--blue);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
}
.filter-button:hover,
:focus {
  background-color: var(--cl-hover);
  color: var(--white);
}

.filter-button:focus {
  background-color: var(--cl-hover);
  color: var(--white);
}
